﻿*{
    margin:0;
    padding:0;
}
:root {
    --white-cust: white;
    --black-custTxt: black;
}
.Mover{
    padding-left:250px;
}
.Mover1{
    padding-left:350px;
}
.imgflujo{
    margin-left: 20px;
}
.lblflujo {
    margin-left: 6px;
    font-family: Tahoma;
    font-size: 15px;
    color: white;
}
.Calendar {
    background-color: #F77253;
}
.Diferencia1 {
    margin-left: 10px;
}
.Diferencia{
    margin-left: 65px;
}
.Importe1 {
    margin-right: -60px;
}
.Importe{
     margin-left: 25px;
}
.txtImporte {
    margin-left: 65px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black-custTxt);
    font-weight: bold;
}
.txtImporte1 {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black-custTxt);
    font-weight: bold;
}
.Solicitado{
    margin-left:130px;
}
.Solicitado1 {
    margin-left: 65px;
}
.border {
    border: 1px solid #F93522;
}
.divMasterHeader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 68px;
    text-align: center;
    min-width: 1100px;
    min-height: 68px;
    background-color: #BABBBF;
}

.divMasterHeaderContainer {
    width: 1100px;
    margin: 0 auto;
    height: 68px;
    min-width: 1100px;
    min-height: 68px;
}


.pnlOpcion {
    margin: 0;
    padding: 0;
    width: 17.5%;
    height: 250px;
    text-align: left;
    min-width: 30px;
    min-height: 30px;
    background-color: #838D85;
    border-radius: 10px;
}
.pnlGenerico {
    width: 100%;
    height: 950px;
    background-color: rgba(0,0,0,0.6);
}
.pnlGenericoSol {
    width: 100%;
    height: 1200px;
    background-color: rgba(0,0,0,0.6);
}
.pnlGenerico1 {
    width: 80%;
    height: 730px;
    float: right;
    background-color: #838D85;
    opacity: 0.9;
    border-radius: 10px
}
.pnlGenerico2 {
    width: 100%;
    height: 750px;
    margin: auto;
    background-color: #838D85;
    opacity: 0.9;
    border-radius: 10px
}
.pnlGenerico3 {
    width: 100%;
    height: 825px;
    margin: auto;
    background-color: #838D85;
    opacity: 0.9;
    border-radius: 10px
}
.pnlGenerico4 {
    width: 50%;
    height: 600px;
    float:left;
    background-color: #838D85;
    opacity: 0.9;
    border-radius: 10px
}
.pnlGenerico5 {
    width: 50%;
    height: 600px;
    float:right;
    background-color: #838D85;
    opacity: 0.9;
    border-radius: 10px
}
.pnlImagen {
    width: 50%;
    height: 650px;
    float: right;
    background: url("../Imagenes/mujer-negocios-terminal-bolsa-viaje_1303-20353.jpg") repeat;
}
.lblDescripcion{
    font-size:10px;
    font-family:Tahoma;
    color: var(--white-cust);
    font-style:italic;
}
.lblDescripcion1 {
    font-size: 15px;
    font-family: Tahoma;
    color: var(--white-cust);
    font-style: italic;
}
.lblEtique1 {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white-cust);
    font-style:italic
}
.lblEtique2 {
    background-color: #BABBBF;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white-cust);
    font-weight: bold;
}
.lblEtique {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white-cust);
    font-weight: bold;
}
.txt {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black-custTxt);
    font-weight: bold;
}
.drop {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black-custTxt);
    width: 200px;
}
.lblImagen {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    background: url(../Imagenes/subir.png) left center no-repeat;
}
.lblTituloge {
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    padding-left: 100px;
}
.lblTitulo {
    font-size: 30px;
    font-family: Helvetica, Arial;
    color: white;
    text-align:center;
}
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    /*position: relative;*/
    font-size: 12px;
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    background: url("../Imagenes/moderna-aplicacion-tecnologia_101984-47.jpg") scroll;
    display: block;
}
body {
    padding: 0;
    margin: 0;
}

/*----------------------------------------------Menu----------------------------------------------------*/
.navegacion{
    width:100%;
    margin: auto;
    background: rgba(0,0,0,1);
    padding-left:80%;
}
.navegacion ul{
    list-style:none;
}
.menu > li{
    position:relative;
    display: inline-block;
}
.menu > li > a{
    display:block;
    padding:15px, 20px;
    color:white;
    font-family:Tahoma;
    text-decoration: none;
    font-size:20px;
} 
.menu > li > a:hover{
    color:#CE7035;
    transition: all 0.5s;
}

.submenu {
    position: absolute;
    background: white;
    width: 330%;
    visibility:hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a {
    display:block;
    padding:15px;
    color:black;
    font-family: Tahoma;
    font-size:15px;
    text-decoration:none;
}
.submenu li a:hover{
    color:rgba(0,0,0,0.3);
    transition:0.5s;
}
.menu li:hover .submenu{
    display:block;
    visibility:visible;
    opacity:1;
}
.Activeli {
    background-color: white;
    color: black;
    font-weight: bold;
    opacity: 1;
}
/*-----------------------------------------------Login--------------------------------------------------*/
.pnlLogin {
    width: 850px;
    height: 300px;
    -webkit-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.centradoLogin {
    padding-top: 250px;
    top: 0%;
    left: 0%;
    padding-left: 503px;
}
/*--------------------------------------------Recuperar--------------------------------------------*/
.pnlRecuperar {
    width: 850px;
    height: 350px;
    -webkit-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.centrado1 {
    padding-top: 200px;
    padding-left: 500px;
}
.data{
    padding-left: 0px;
}

.pnlIngresos {
    width: 400px;
    height: auto;
    -webkit-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    background: #eeeeee;
    opacity: 0.5;
    position:absolute;
    top:25%;
    left:50%;
    border-radius: 5px;
}
.lblH1Negro {
    font-size: 24px;
    font-family: Helvetica, Arial;
    color: white;
    border-color:red;

}
.lblH1NegroNav {
    font-size: 16px;
    font-family: Helvetica, Arial;
    color: black;
}
.lblH1NegroNav1 {
    font-size: 16px;
    font-family: Helvetica, Arial;
    font-weight: bold;
    color: var(--white-cust);
    text-align: center;
}
.lblNormalRojo {
    font-size: 11px;
    font-family: Helvetica, Arial;
    color: red;
}
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
}

.centrado2 {
    position: absolute;
    top: 20%;
    left: 30%;
}
.centrado3 {
    padding-top: 130px;
    top: 16%;
    left: 0%;
    padding-left: 100px;
}
.centrado4 {
    padding-top: 130px;
    top: 16%;
    left: 0%;
    padding-left: 250px;
}
.centrado5 {
    padding-top: 130px;
    top: 16%;
    left: 0%;
    /*padding-left: 0px;*/
}
.centrado6{
    padding-top: 130px;
    top: 16%;
    left: 0%;
}
.cssBotonMediano {
    font-size: 16px;
    font-family: Helvetica, Arial;
    background-color: #D6D2C4;
    color: #000000;
    border: #D6D2C4 1px solid;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
}

    .cssBotonMediano:hover {
        background-color: #F93522;
        color: #000000;
    }
.cssBotonPanel {
    animation: bouncy 5s infinite linear;
    /*position: relative;*/
    border-radius: 6px;
    background-color: #F77253;
    font-size: 16px;
    width: 200px;
    height: 30px;
    font-weight: bold;
}
@keyframes bouncy{
    0% {top:0em}
    40% {top:0em}
    43% {top:-0.9em}
    46%  {top:0em}
    48% {top:-0.4em}
    50% {top:0em}
    100% {top:0em;}
}
.cssBotonMedianoLinea {
    font-size: 12px;
    font-family: Helvetica, Arial;
    background-color: #D6D2C4;
    color: #000000;
    border: #D6D2C4 1px solid;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration-line: underline;
}

    .cssBotonMedianoLinea:hover {
        background-color: #F93522;
        color: #000000;
    }
.cssMenu {
    margin-left: 10px;
    margin-right: 20px;
    padding: 0;
    border: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #FADBD8;
}
    .cssMenu li a {
        height: 20px;
        width: 200px;
        float: left;
        padding: 10px 5px;
        font-size: 12px;
        font-family: Helvetica, Arial;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        background: #FADBD8;
        text-decoration: none;
        border-radius: 5px;
    }

    .cssMenu a:hover {
        font-size: 12px;
        font-family: Helvetica, Arial;
        font-weight: bold;
        text-transform: uppercase;
        color: #D6D2C4;
        text-decoration: none;
        background: #F93522;
    }

    .cssMenu li a.selected {
        background: #FADBD8;
        font-size: 12px;
        font-family: Helvetica, Arial;
        font-weight: bold;
        color: #FADBD8;
        text-decoration: none;
    }

    .cssMenu ul {
        margin: 0;
        padding: 0;
        border: 0;
        list-style-type: none;
        margin-left: 10px;
        vertical-align: middle;
    }
.btn {
    width: 250px;
    display: block;
    background: linear-gradient(50deg, #7bfef6, #f5aeae);
    text-align: center;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    margin: auto;
    margin-right: 250px;
}

    .btn:hover {
        transform: translateY(10px);
        box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
    }
        .table{
    border: 1px solid black;
}
.btncenter {
    padding-left: 503px;
}
.btnpbl{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    border-color:red;
    float:right;
}
.centradoGrid{
    margin-left: 0px;
}
.mGrid1 {
    width: 100%;
    background-color: #BABBBF;
    margin: 5px 0 10px 0;
    border: solid 1px black;
    border-collapse: collapse;
    font-family:Tahoma;
    font-size:15px;
}

    .mGrid1 td {
        text-align:center;
        font-family:Tahoma;
        font-size:13px;
        font-style:italic;
        padding: 2px;
        border: solid 1px white;
        color: #717171;
    }

    .mGrid1 th {
        padding: 4px 2px;
        color: black;
        background: #838D85 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }
.Aceptar{
    border-color: green;
    color: green;
}
.Rechazar{
    border-color: red;
    color:red;
}
footer {
    background-color: #000000;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    opacity: 0.7;
}
header {
    background-color: #000000;
    width: 100%;
    height: 110px;
    opacity: 0.7;
    position:fixed;
}

.pnlNueva {
    width: 650px;
    height: 350px;
    -webkit-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    box-shadow: 11px 10px 17px -1px rgba(0,0,0,0.4);
    background-color: floralwhite;
    border-radius: 10px;
    float: none;
    opacity: 0.6;
}
hr{
    color:white;
    width: 70%;
    float: left;
}
table#tableBloqUser tbody tr td {
    min-width: 190px;
    padding-left: 40px;
    text-align:left;
}
table#tableBloqUser tbody tr td:nth-child(1){
    text-align:right;
}
table#tableBloqUser tbody tr td{
    padding:7px;
}
